footer {
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
}
.main-footer {
    border-radius: 0px 0px 0px 0px;
    padding-top: 0px;
    }

    .main-footer ul li {
  border-right: 0px solid white;
  list-style: none;
  padding: 1px 1px;
  display: block;
  }

.main-footer ul li a{
    font-size: 0.8em;
    display: block;
    background-color:red;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-family:'Open Sans';
    margin: 0.5px;
}
.main-footer ul{
    text-align: center;
    padding-inline-start: 0;
}
.main-footer ul li a:hover{
    background-color: rgba(240, 248, 255, 0.692);
    color: black;
}


@media screen and (min-width: 768px){
    .main-footer ul li a{
        font-size: 1em;
    }
}

@media screen and (min-width: 1224px){
    .main-footer ul li a{
        display: inline;
        background-color: none;
        font-size: 1em;
        padding: 4px 4px;

    }
    .main-footer ul li{
        display: inline;
        border-right: 2px solid white;
    }
    .main-footer {
        background-color: red;
        border-radius: 12px 12px 0px 0px;
        padding-top: 0px;
        height: 150px;
        padding-top: 25px;
        margin-top: 15px;
        }

}