@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/bg-body.png);
 
 }
 
 .card {
   background-color: white;
   margin: 1%;
   padding: 10px;
   border-radius: 10px;
   border: 0.25px solid gray;
   display: flex;
   flex-wrap: wrap;
 
 }
 
 /* Fotos */
 .card-image img {
   width: 200px;
   display: block;
   border-radius: 200px;
 }
 
 /* Redes Sociales */
 .card-image .social-media {
   font-size: 20px;
   padding: 10px;
   margin: 2px;
 }
 
 .card-image .social-media li {
   display: inline-block;
   padding: 10px;
 }
 
 .card-image .social-media li a {
   color: black;
   text-decoration: none;
   width: 1em;
   padding: 10px;
 }
 
 /* Texto Nombre */
 .card-data h2 {
   font-size: 1.5em;
   padding: 10px;
 }
 
 /* Texto Lorem ipsum */
 .card-data p {
   font-size: 0.9em;
   width: 370px;
   padding: 10px;
   margin-bottom: 10px;
 
 }
 
 /* Boton de Ver mas */
 .card-data a {
   padding: 10px;
   background-color: gray;
   color: white;
   text-decoration: none;
 }