body{color: rgb(105, 8, 8);
background-color: rgb(117, 114, 114);
opacity: 0.99;
background-image: url()}
h1{color: rosybrown}
#A1{color: royalblue}
.B1{color: sienna}
p{
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    
}

span{
    color: blueviolet;
}
ul li span {
    color: brown;
}